<form [formGroup]="ownerDetail">
  <label>
Owner Name:
<input FromControlName="ownerName">
</label>

<label>
  Owner Phone:
<input FormControlName="ownerPhone">
</label>

<label>
  Owner Location:
<input FormControlName="ownerLocation">
</label>

<label>
  Price:
<input FormControlName="ownerPrice">
</label>

<button type="submit">Submit</button>
</form> 