<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1> 
</div>
<nav>
<a routerLink="/">Customer Register</a>
<a routerLink="register/owner">Owner Register</a>
<a routerLink="view/customer">Customer View</a>
<a routerLink="view/owner">Ownwer view</a>
</nav>

<router-outlet></router-outlet>
