<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

<label>
  Customer Name:
  <input type="text" formControlName="customerName">
</label>

<label>
  Customer Phone:
  <input type="text" formControlName="customerPhone">
 </label>

<label>
  Customer Location:
  <input type="text" formControlName="customerLocation">
</label>

<label>
  price:
  <input type="text" formControlName="customerPrice">
</label>

<button type="submit">Submit</button>
</form>

