<table>
  <tbody>
    <tr *ngFor = "let mmop of data">
      <td>{{mmop.customerName}}</td>
      <td>{{mmop.customerPhone}}</td>
      <td>{{mmop.customerLocation}}</td>
      <td>{{mmop.price}}</td>
    </tr>
  </tbody>
</table>